@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body {
    background: #121212;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

nav {
    margin-top: 1rem;
}


.navbar {

    background: #121212;
}

.nav-link {
    color: #fff;

}

.navbar-brand {
    margin-left: 3.4rem;

}

.navbar .navbar-brand {
    padding-top: 0px;

    img {
        height: 50px;
    }
}

.navbar-expand-lg .navbar-nav {

    margin-right: 2.5rem;



    .nav-link {
        margin-right: .75rem;

        font-size: 1rem;
    }

    .nav-link:hover {
        color: #ff2562;
    }
}

.maintro {
    margin: 6rem 0 0 0;


    h1 {
        margin-bottom: 1rem;
        font-size: 3rem;

        span {
            color: #ff2562;
        }
    }

    h4 {
        color: #ff2562;

    }


    .btn-primary {
        margin-top: 1rem;
        border-radius: 0;
        background: #ff2562;
        border-color: #ff2562;
        padding: .5rem 3rem .5rem 3rem;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }

}

.main-content {
    height: 100vh;

    .img-fluid {
        margin-left: 4rem;
    }



}

.more-content {
    background: #fff;
    color: #121212;
    padding: 1rem 4rem;

    h2 {
        font-size: 3rem;
        font-weight: normal;

        span {
            color: #ff2562;
            font-weight: bold;
        }
    }


    p {
        font-size: .5rem;
    }

    .card {
        border-radius: 0;
        margin-top: 1rem;
        background: #121212;
        color: #fff;
        text-align: center;

  
    }

    .app-link{
        color:#fff;

    }

    .app-link:hover{
        color:#fff;
    }

    .card-img-top {
        border-radius: 0;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;

        height: 200px;
        
        object-fit: cover;



    }

    .card-body {

        padding: 0 2.5rem 0 2.5rem;


    }

    .card-header {

        background: #ff2562;
        margin: 0 2rem 0 2rem;


        position: relative;
        top: -1.5rem;
        font-size: 1rem;

        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

    }

    .card-header:first-child {
        border-radius: 0;
    }

    .card-text {
     
        font-size: .5rem;
        

    }

    hr {
        width: 20%;
        border-top: 2px solid #ff2562;
        ;

    }

    i {
        font-size: 1rem;
    }

    .btn-primary {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 0;
        background: #ff2562;
        border-color: #ff2562;
        padding: .5rem 3rem .5rem 3rem;

        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }

}




footer {

    background: #121212;
    color: #ff2562;
    font-weight: bold;
    text-align: center;




}

.about-me {
    padding-top:4rem;

    .aboutro{

        h1 {
            margin-bottom: 1rem;
            font-size:4rem;
         
    
            span {
                color: #ff2562;
            }
        }
    
        h4 {
            color: #ff2562;
            font-size: 2rem;
    
        }
    }
    
    .imagetro{
      padding-left:2rem;

        img{
            border: 1px white solid;
            background-color:#fff;
            padding:.25rem;

            object-fit: cover;
            
            width:400px;
        }


    }
    .thumbs{
        .img-thumbnail{
            border-radius: 0;
        }
        img{
            object-fit: cover;
            width:16rem;
            height:10rem;
        }

        margin-top:3rem;


    }

}

.resume{
    background-color:#f1f1f1;
    color:#222;

header{
    padding-top:1rem;
    font-weight: 700;
    text-transform: uppercase;

    span{
        color: #ff2562;
    }
}

.subject{
    text-transform: uppercase;
    color:#ff2562;
}

h6{
    text-transform: uppercase;
    
}
}